@import '~@jetbrains/ring-ui/components/global/global';

.personal-time-tracking {
  $selected-background-color: #e5f4ff;

  .issue-id {
    white-space: nowrap;
  }

  .issue-id_resolved {
    text-decoration: line-through;

    color: $ring-dark-gray-color !important;
  }

  &__load-more {
    display: block;

    width: 100%;

    margin: auto;

    text-align: center;

    &:hover {
      background-color: $selected-background-color;
    }
  }

  &__work-items {
    margin-bottom: 48px;
  }

  &__work-item {
    overflow: hidden;

    padding: 6px 0 6px 12px;

    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      background-color: $selected-background-color;
    }
  }

  &__day-header {
    overflow: hidden;

    width: 100%;

    cursor: default;

    white-space: nowrap;

    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-overflow: ellipsis;

    color: $ring-gray-color;
  }

  &__day-header_empty {
    color: #ccc;

    font-size: $ring-font-size-smaller;

    font-weight: lighter;
  }

  &__day {
    margin: $ring-unit 0 2*$ring-unit 0;
  }

  &__total {
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    padding: 4px 2*$ring-unit;

    background-color: #f7f7f7;

    line-height: 22px;
  }

  &__total-title {
    overflow: hidden;

    cursor: default;
    white-space: nowrap;

    color: $ring-dark-gray-color;
  }

  &__total-value {
    cursor: default;
    text-align: right;
    white-space: nowrap;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    font-weight: bold;
  }
}
